body {
    background-color: rgb(20, 20, 20, 1);
}
#header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 59px;
}
.head-img{
    width: 200px;
    /* border: 1px solid black; */

}
#header .left-head {
    display: flex;
    align-items: center;

}
.links ul{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    align-items: center;
    
}

.links ul li{
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
}
.right-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 16vw;
    margin-right: 218px;
}
#fac{ 
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    margin-left: 6px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    color: rgba(255, 2555, 255, 1);
    border: 1px solid rgba(255, 2555, 255, 0.07);
}
#fac:hover{
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    margin-left: 6px;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    color: rgba(255, 2555, 255, 1);
    border: 1px solid rgba(255, 2555, 255, 0.07);
    background-color:rgba(118, 31, 227, 1);
    transition: 1s ease-out
}
/* .header_buttons {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(208, 147, 232, 1);;
    width: 13vw;
    height: 10vh;
} */
.header_buttons {
    position: absolute;
    content: '';
    top: 29px;
    right: 20px;
    /* bottom: -35px; */
    border-radius: 25px 25px 0px 0px;
    background-color: rgba(208, 147, 232, 1);
    width: 249px;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.log {
    width: 80px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
}
.log:hover {
    width: 80px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    color: #fff;
    background-color:rgba(118, 31, 227, 1);
    transition: 0.5s ease-in;
}
.join {
    width: 95px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 300;
    background-color: rgba(118, 31, 227, 1);
    border: none;
}
.join:hover{
    width: 95px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    transition: 0.5s ease-in;
}
#hero .hero-back {
    position: absolute;
    content: '';
    left: 15px;
    top: 142px;
    right: 21px;
    bottom: -200px;
    background: rgba(118, 31, 227, 1);
    border-radius: 30px 0px 30px 30px;
    background: linear-gradient(to right, rgba(118,31,227,1), rgba(208,147,232,1) );
    z-index: -2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero-det {
    position: relative;
    width: 250px;
    height: 35px;
    left: 90px;
    top: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(102, 21, 201);
    border-radius: 7px;
}
.hero-det span {
   color:  rgb(54, 6, 113);
   font-size: 15px;
   font-weight: 600;
}
.hero-det-heading {
    margin-top: 120px;
    margin-left: 70px;
    line-height: 20px;
}
.hero-det-heading h1{
    font-size: 50px;
    font-weight: 600;
    color:#fff;
}
.hero-det-heading h1 span{
    font-weight: 600;
    font-style: italic;
    font-family: 'Lora', serif;
}
.hero-det-heading-1{
    width: 500px;
    height: 50px;
}
.hero-det-heading-1 h6{
    color: #d0d0d0;
    font-size: 15px;
}
.get-start-button button{
    width: 150px;
    height: 50px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    background-color: rgba(118, 31, 227, 1);
    border: none;
    margin-left: 70px;
    margin-top: 20px;
}
.get-start-button button:hover{
    width: 150px;
    height: 45px;
    border-radius: 6px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    transition: 0.5s ease-in;
    color: rgba(118, 31, 227, 1);
}
.get-start-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24vw;

}
.get-start-button i {
    background-color: rgba(118, 31, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 45px;
    width: 70px;
    height: 65px;
    padding-left: 10px;
    padding-top: 16px;
    border-radius: 50px;
    margin-top: 19px;
    text-align: center;
}
.get-start-button i:hover{
    color: rgba(118, 31, 227, 1);
    background-color: rgba(255, 255, 255, 1);
    font-size: 40px;
    width: 70px;
    height: 65px;
    padding-left: 10px;
    padding-top: 19px;
    border-radius: 50px;
    margin-top: 17px;
    text-align: center;
}
.hero-side-img {
    background-image: url(/Images/image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 511px;
    height: 540px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-right: 50px;
    padding-left: 25px;
    padding-top: 50px;
    line-height: 5px;
    border-radius: 20px;
}
.persentage {
    width: 142px;
    height: 84px;
    background: url(/Images/percentage-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 350px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.persentage h1{
    font-size: 50px;
    background-color: linear-gradient(to right, rgba(118,31,227,1), rgba(208,147,232,1) );
    color: rgba(118,31,227,1) ;
}
.persentage i{
    font-size: 40px;
    color: rgba(118, 31, 227, 1); 
    padding-top: 1px;
}
.graph-image img{
    position: relative;
    left: 600px;
    bottom: 50px;
}



